<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682390120484-m9jmk3642ufih3cr4t48f6hclke2mj02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682390120484-m9jmk3642ufih3cr4t48f6hclke2mj02</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>682390120484-n8muiuubguk822rtstqlmn0u3jo1nebp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApfUKWv3oFMLkFkEGqg9tEbwqpAEnaLfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>682390120484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.snapshop</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-signinwith</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-signinwith.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682390120484:ios:aec4dc267835b9ad4550b1</string>
</dict>
</plist>